/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
     height: 100%;
     margin: 0; /* Elimina el margen por defecto */
     color: #000000; /* Color del texto */
     background-color: #333; /* Color de fondo en caso de que la imagen no se cargue */
     background-image: url('../img/fondo3.avif'); /* Cambia esta ruta a la ubicación de tu imagen */
     background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
     background-repeat: no-repeat; /* Evita que la imagen se repita */
     background-position: center; /* Centra la imagen en el fondo */
 }
 
 body {
     display: flex;
     justify-content: center;
     align-items: center; /* Centra verticalmente el contenido */
     text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
     box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
 }

.cover-container {
    max-width: 50em;
}

/* Cambia el color de todos los enlaces dentro de la lista */
ul li a {
  color: #080808; /* Cambia este valor por el color que desees */
  text-decoration: none; /* Opcional: quita el subrayado */
}

/* Cambia el color al pasar el mouse sobre el enlace */
ul li a:hover {
  color: #7a7a7a; /* Cambia este valor por el color que desees al pasar el mouse */
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000000;
  border-bottom-color: #000000;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(0, 0, 0, 0.5);
}
